.page-enter-active, .page-leave-active {
  transition: all 0.5s;
}

.page-enter, .page-leave-action {
  opacity: 0;
  transform-origin: 50% 50%;
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

.form-wrap {
  max-width: 330px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.select, .select select {
  width: 100%;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

/* Loading Wheel */

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
